<app-header-admin></app-header-admin>

<div class="container mx-auto">
  <h1 class="titulo">Tabla de productos</h1>
  <div class="flex justify-center">
    <button [routerLink]="[0]" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow-lg w-full sm:w-auto m-5">
      Agregar nuevo producto
    </button>
  </div>
  
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:bg-gray-800">
        <tr>
          <th scope="col" class="px-6 py-3 border-l">Nombre del producto</th>
          <th scope="col" class="px-6 py-3 border-l">Marca</th>

          <th scope="col" class="px-6 py-3 border-l">Precio de venta</th>
          <th scope="col" class="px-6 py-3 border-l">Precio regular</th>
          <th scope="col" class="px-6 py-3 border-l">Editar Producto</th>

          <th scope="col" class="px-6 py-3 border-l">Eliminar Producto</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of product" class="dark:bg-gray-700">
        <tr class="border-b border-t border-right border-l">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white border-l"
          >
            {{ product.Nombre }}
          </th>
          <td class="px-6 py-4 border-l">
            {{ product.Marca }}
          </td>

          <td class="px-6 py-4 border-l">
            {{ product.PrecioVenta }}
          </td>
          <td class="px-6 py-4 border-l">
            {{ product.PrecioRegular }}
          </td>

          <td class="px-6 py-4 border-l">
            <button
              [routerLink]="[product.id]"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >
              Editar
            </button>
          </td>
          <td class="px-6 py-4 border-l">
            
            <button
              (click)="deleteProduct(product.id!)"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
